extends base


block title
  | YouForm


block mailpretitle
  h2(style='font-size: 24px; line-height: 24px; font-weight: lighter; color: #999999; text-align: left;')
    | Hooray!


block mailtitle
  | Hi, before we can enable the wonderful contact form in your website you should confirm this email address.


block mailcontent

  p 
    | We're asking your permission to send any message written through the contact form 
    b «#{form.form_name}» 
    | to this e-mail address (#{form.form_destination}).
    
  br
      
  p Click the following link to give your approval and start receiving contact requests:
  p(style='word-break: break-all;')
    a(href='https://www.youform.me/confirm/email/#{form.id}?token=#{form.token}&email=#{form.form_destination}', style='word-break: break-all; color: ##{form.colours};') http://www.youform.me/confirm/email/#{form.id}?token=#{form.token}&amp;email=#{form.form_destination_not_confirmed}


block mailfooter

  | You don't know what this e-mail is about? Know more at 
  a(href='https://www.youform.me', style='text-decoration: none; color: ##{form.colours};') youform.me
  |  or 
  a(href='https://www.youform.me/contact.html', style='text-decoration: none; color: ##{form.colours};') contact us