extends base


block title
  | YouForm - Verify the e-mail address


block mailtitle
  | One little thing before!


block mailpretitle
  h2(style='font-size: 24px; line-height: 24px; font-weight: lighter; color: #999999; text-align: left;')
    | Congratulations


block mailcontent

  p We are setting up things for your new contact form. At this e-mail address we will send every messages written through the website 
    b #{form.website_url}
  br    
  p Click here to confirm your email address and activate it.
  
  p(style='word-break: break-all;')
    a(href='http://www.youform.me/confirm/email/#{form._id}?token=#{form.token}&email=#{form.form_destination}', style='font-family: Andale Mono, Courier, monospace; font-size: 16px; word-break: break-all;') http://www.youform.me/confirm/email/#{form._id}?token=#{form.token}&amp;email=#{form.form_destination_not_confirmed}


block mailfooter

  | Don't you know what is this mail? Find more info at 
  a(href='http://www.youform.me', style='text-decoration: none;') youform.me
  |  or write to our 
  a(href='mailto:support@youform.me', style='text-decoration: none;') support