doctype 5
html
  body
    p Click here: 
      a(href='http://youform.me/confirm/email/#{form._id}?token=#{form.token}&email=#{form.form_destination}') http://youform.me/confirm/email/#{form._id}?token=#{form.token}&email=#{form.form_destination_not_confirmed}