doctype 5
html
  body
    div API KEY: #{form.api_key}
    div
      a(href='http://youform.me/stats/#{form._id}?token=#{form.token}') Statistics
      a(href='http://youform.me/delete-form/#{form._id}?token=#{form.token}') Delete form