doctype 5
html
  body
    h3 YouForm
    div
      p Copy the following url and paste it in your form's action attribute:
        a(href='http://www.youform.me/api/form/#{form._id}') http://www.youform.me/api/form/#{form._id}
    div#stats
      a(href='http://www.youform.me/stats/#{form._id}?token=#{form.token}') Statistics
    div#del
      a(href='http://www.youform.me/delete-form/#{form._id}?token=#{form.token}') Delete form




!!! 5
html(lang='en')
head
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='initial-scale=1.0')
//- So that mobile webkit will display zoomed in 
meta(name='format-detection', content='telephone=no')
//- disable auto telephone linking in iOS 
title Antwort - responsive Email Layout
style(type='text/css')
  /* Resets: see reset.css for details */
  .ReadMsgBody { width: 100%; background-color: #ebebeb;}
  .ExternalClass {width: 100%; background-color: #ebebeb;}
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
  body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
  body {margin:0; padding:0;}
  table {border-spacing:0;}
  table td {border-collapse:collapse;}
  .yshortcuts a {border-bottom: none !important;}
  /* Constrain email width for small screens */
  @media screen and (max-width: 600px) {
    table[class="container"] {
      width: 95% !important;
    }
  }
  /* Give content more room on mobile */
  @media screen and (max-width: 480px) {
    td[class="container-padding"] {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
body(style='margin: 0; padding: 10px 0;', bgcolor='#ebebeb', leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
br
//- 100% wrapper (grey background) 
table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor='#ebebeb')
  tr
    td(align='center', valign='top', bgcolor='#ebebeb', style='background-color: #ebebeb;')
      //- 600px container (white background) 
      table.container(border='0', width='600', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
        tr
          td.container-padding(bgcolor='#ffffff', style='background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;')
            br
            //- ### BEGIN CONTENT ### 
            div(style='font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F;')
              | Basic Email Container
            br
            | The 100% wrapper
            span(style='font-family: Andale Mono, Courier, monospace; color: #666;') <table>
            | is included for clients that strip out the
            span(style='font-family: Andale Mono, Courier, monospace; color: #666;') <body>
            | tag. Change background color as required.
            br
            br
            | The inner
            span(style='font-family: Andale Mono, Courier, monospace; color: #666;') <table>
            | with
            span(style='font-family: Andale Mono, Courier, monospace; color: #666;') container
            | class has the following functions:
            br
            br
            strong On desktop:
            ul
              li
                | Wraps the email to a max recommended width of
                span(style='font-family: Andale Mono, Courier, monospace; color: #666;') 600px
              li
                | Adds
                span(style='font-family: Andale Mono, Courier, monospace; color: #666;') 30px
                | left and right padding. (Hint: that means you have
                span(style='font-family: Andale Mono, Courier, monospace; color: #666;') 540px
                | for content.
            strong On mobile:
            ul
              li
                | Wraps email to fluid
                span(style='font-family: Andale Mono, Courier, monospace; color: #666;') 95%
              li
                | Reduces left and right padding to
                span(style='font-family: Andale Mono, Courier, monospace; color: #666;') 12px
                | for more content real estate
              li See breakpoints in CSS
            br
            em(style='font-style: italic; font-size: 12px; color: #aaa;')
              | N.B. The above is provided as explanation only and has not been live tested in clients.
            br
            br
            div(style='font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F;')
              | The world scouts at us whale hunters
            br
            | At the same foam-fountain, Queequeg seemed to drink and reel with me. His dusky nostrils swelled apart;
            | he showed his filed and pointed teeth. On, on we flew; and our offing gained, the Moss did homage to the
            | blast; ducked and dived her bows as a slave before the Sultan. Sideways leaning, we sideways darted; every
            | ropeyarn tingling like a wire; the two tall masts buckling like Indian canes in land tornadoes.
            br
            br
            | So full of this reeling scene were we, as we stood by the plunging bowsprit, that for some time we did not
            | notice the jeering glances of the passengers, a lubber-like assembly, who marvelled that two fellow beings
            | should be so companionable; as though a white man were anything more dignified than a whitewashed negro.
            br
            br
            em(style='font-style: italic; font-size: 12px; color: #aaa;') Excerpt from Moby Dick, by Herman Melville
            br
            br
            //- ### END CONTENT ### 
      //- /600px container 
//- /100% wrapper
br
br
