extends base


block title
  | YouForm


block mailpretitle
  h2(style='font-size: 24px; line-height: 24px; font-weight: lighter; color: #999999; text-align: left;')
    | Hooray!


block mailtitle
  | Yor form «#{form.form_name}» has been created!


block mailcontent

  p You should have received a confirmation e-mail at 
    | #{form.form_destination} 
    | and a text message on your mobile phone 
    | #{form.country_code} #{form.phone}.
  
  p 
    b Before your form starts working, 
    | you must verify the contact information that you have provided.
    
  p 
    | By the way, this is the 
      a(href='http://www.youform.me/dashboard/#{form._id}?token=#{form.token}', style='color: ##{form.colours};') link to your dashboard
    | . Please keep it save as it contains your authentication data.


block mailfooter

  | If you are experiencing troubles with something, please  
  a(href='https://www.youform.me/contact.html', style='text-decoration: none; color: ##{form.colours};') let us know
  | .