extends base


block title
  | YouForm - Successful registration!


block mailtitle
  | You've successful register a contact form!


block mailpretitle
  h2(style='font-size: 24px; line-height: 24px; font-weight: lighter; color: #999999; text-align: left;')
    | Hooray!


block mailcontent

  p You will receive an e-mail at 
    b #{form.form_destination} 
    | and a text on the phone number 
    b #{form.country_code} #{form.phone}
  
  br

  p You must verify those contact information by clicking the link in the e-mail and entering the text code in your 
    b
      a(href='http://www.youform.me/dashboard/#{form._id}?token=#{form.token}', style='color: ##{form.colours};') dashboard


block mailfooter

  | If you are experiencing troubles with something, please let us know at 
  a(href='mailto:support@youform.me', style='text-decoration: none; color: ##{form.colours};') support at youform.me