extends layout

block content

  .page.page-accent
    .text-spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            a(href='/')
              img.small-brand(src='/img/youform.svg')
    .text-spacer

  .separator.separator-accent


  .page.page-gray
    .spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            h1.inline Dashboard!&nbsp;&nbsp;
            h2.inline This is the dashboard of the form #{form.form_name}
    .spacer

  .separator

  .page
    .spacer(style='height: 100px;')
    .container
      .pure-g
        .pure-u-2-3#formstats
          div(style='padding-left: 20px;')
            h2 Your form

            table.pure-table.stats-data
              tr
                td
                  | Form
                td
                  | #{form.form_name}
              tr
                td
                  | Action
                td
                  | http://www.youform.me/api/form/#{form._id}
              tr
                td
                  | API KEY
                td
                  | #{form._id}
              if form.deleted === true
                tr
                  td(colspan='2')
                    | This form has been deleted.
              else
                tr
                  td
                    | Created at
                  td
                    | #{form.created_at}
                tr
                  td
                    | Website
                  td
                    a(href='#{form.website_url', target='_blank')
                      | #{form.website_url}
                tr
                  td
                    | Requests
                  td
                    for row, year in dashboard.counter
                      h4 #{year}
                      table
                        for value, month in row
                          tr
                            td.month-name
                              | #{month}
                            td.month-value
                              | #{value}
                tr
                  td(colspan='2')
                    br
                    br
                    a.pure-button.pure-button-primary(href='/edit/#{form._id}?token=#{form.token}') 
                      i.icon-cog.icon-white
                      | &nbsp;Edit form
                    | &nbsp;&nbsp;&nbsp;
                    a.pure-button.pure-button-danger(href='/delete/#{form._id}?token=#{form.token}')
                      i.icon-remove.icon-white
                      | &nbsp;Delete form
          //-
            p API KEY: #{form._id}
            p Form: #{form.form_name}
            if form.deleted === true
              p This form has been deleted.
            else
              p Website: 
                a(href=form.website_url) #{form.website_url}
              p Date: #{form.created_at}

              p Total requests: #{dashboard.total_rows}

              for row, year in dashboard.counter
                h5 Year: #{year}
                for value, month in row
                  p 
                    span.month-name 
                      | #{month}: 
                    span.month-value
                      | #{value}

              a.pure-button.pure-button-primary(href='/edit/#{form._id}?token=#{form.token}') Edit form
              | &nbsp;
              a.pure-button.pure-button-danger(href='/delete/#{form._id}?token=#{form.token}') Delete form
                  
block scripts
  script.
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    Array.prototype.forEach.call(document.querySelectorAll('.month-name'), function (el) {      
      var monthNumber = parseInt(el.innerHTML, 10);
      el.innerHTML = months[monthNumber - 1] + ': ';
    });