extends layout

block content

  .page.page-accent
    .text-spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            a(href='/')
              img.small-brand(src='/img/youform.svg')
    .text-spacer

  .separator.separator-accent


  .page.page-gray
    .spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            h1.inline Control Panel&nbsp;&nbsp;
            h2.inline This is the dashboard of #{form.form_name}
    .spacer

  .separator

  .page
    .spacer(style='height: 100px;')
    .container
      .pure-g
        .pure-u-1-2
          .text-left(style='padding-right: 20px;')
            h1 #{form.form_name}

            .spacer
            .separator
            .text-spacer

            dl
              dt Website base URL
              dd
                a(href='#{form.website_url}', target='_blank') #{form.website_url}

            dl
              dt Destination E-mail Address
              dd #{form.form_destination}

            dl
              dt Created on
              dd #{form.created_at}

        .pure-u-1-2
          .text-left(style='padding-left: 20px;')
            h1 Form Attributes

            .spacer
            .separator
            .text-spacer

            dl
              dt Action
              dd
                small
                  pre https://www.youform.me/api/form/#{form.id}

            dl
              dt Method
              dd
                small
                  pre POST

      .pure-g
        .pure-u-1
          .spacer
          .separator
          .spacer

          .text-center


            a.pure-link(href='/edit/#{form.id}?token=#{form.token}') 
              | Edit form
            a.pure-link.pure-link-accent(href='/delete/#{form.id}?token=#{form.token}')
              | Delete Form


    .spacer(style='height: 100px;')

  .page.page-accent
    .separator.separator-accent
    .spacer(style='height: 100px;')

    .container
      .pure-g
        .pure-u-1

          .text-center

            .helper
              .helper-color
              span E-mail sent

            .helper.helper-spam
              .helper-color
              span Spam

          .spacer
          .spacer

          .graph
            canvas#dashgraph(width='960', height='350')

    .spacer(style='height: 100px;')
                  
block scripts
  script.
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    Array.prototype.forEach.call(document.querySelectorAll('.month-name'), function (el) {      
      var monthNumber = parseInt(el.innerHTML, 10);
      el.innerHTML = months[monthNumber - 1] + ': ';
    });

  script(src='/js/vendor/Chart.min.js')
  script.

    var graph = JSON.parse('#{graph}')
      , emails = []
      , spam = []
      , labels = []
      , maxValue = 0
      ;

    graph.forEach(function (item) {
      // graph labels
      labels.push(months[item[1] -1]);
      // spam
      spam.push(item[3]);
      // emails
      emails.push(item[2]);

      if (maxValue < item[2]) {
        maxValue = item[2];
      }
      if (maxValue < item[3]) {
        maxValue = item[3];
      }
    });

    var lineChartOptions = {
          scaleLineColor : '#AF1418',
          scaleGridLineColor : 'rgba(198, 23, 28, 0.4)',
          scaleFontColor : '#F2F2F2',
          scaleFontFamily : 'Open Sans',
          datasetStrokeWidth : 2,
          datasetFill : false,
          pointDot : false,
          scaleOverride : true,
          scaleSteps : 10,
          scaleStepWidth : Math.ceil(maxValue / 9)
        }
      , lineChartData = {
          labels : labels,
          datasets : [
            {
              strokeColor : '#FFCE4B',
              data : spam
            },
            {
              strokeColor : '#FFFFFF',
              data : emails
            }
          ] 
        }
      , myLine = new Chart(document.getElementById('dashgraph').getContext('2d')).Line(lineChartData, lineChartOptions);
