extends layout

block content

  .page.page-accent
    .text-spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            a(href='/')
              img.small-brand(src='/img/youform.svg')
    .text-spacer

  .separator.separator-accent


  .page.page-gray
    .spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            h1.inline Control Panel&nbsp;&nbsp;
            h2.inline This is the dashboard of #{form.form_name}
    .spacer

  .separator

  .page
    .spacer(style='height: 100px;')
    .container
      .pure-g
        .pure-u-1-2
          .text-left(style='padding-right: 20px;')
            h1 Form

            .spacer
            .separator
            .text-spacer

            dl
              dt Form name
              dd
                pre #{form.form_name}

            dl
              dt Created on
              dd
                pre #{form.created_at}

            dl
              dt Website
              dd
                pre
                  a(href='#{form.website_url', target='_blank')
                    | #{form.website_url}

        .pure-u-1-2
          .text-left(style='padding-left: 20px;')
            h1 Properties

            .spacer
            .separator
            .text-spacer

            dl
              dt Action
              dd
                pre http://www.youform.me/api/form/#{form._id}

            dl
              dt API Key
              dd
                pre #{form._id}

      .pure-g
        .pure-u-1
          .spacer
          .separator
          .spacer

          .text-center


            a.pure-link(href='/edit/#{form._id}?token=#{form.token}') 
              | Edit form
            a.pure-link.pure-link-accent(href='/delete/#{form._id}?token=#{form.token}')
              | Delete Form


    .spacer(style='height: 100px;')

  .page.page-accent
    .separator.separator-accent
    .spacer(style='height: 100px;')

    .container
      .pure-g
        .pure-u-1

          .text-center

            .helper
              .helper-color
              span E-mail sent

            .helper.helper-spam
              .helper-color
              span Spam

          .spacer
          .spacer

          .graph
            canvas#dashgraph(width='960', height='350')

    .spacer(style='height: 100px;')
                  
block scripts
  script.
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    Array.prototype.forEach.call(document.querySelectorAll('.month-name'), function (el) {      
      var monthNumber = parseInt(el.innerHTML, 10);
      el.innerHTML = months[monthNumber - 1] + ': ';
    });

  script(src='/js/vendor/Chart.min.js')
  script.
    var lineChartOptions = {
          scaleLineColor : '#AF1418',
          scaleGridLineColor : 'rgba(198, 23, 28, 0.4)',
          scaleFontColor : '#F2F2F2',
          scaleFontFamily : 'Open Sans',
          datasetStrokeWidth : 2,
          datasetFill : false,
          pointDot : false,
          scaleOverride : true,
          scaleSteps : 12,
          scaleStepWidth : 15 // ### Needed = parseInt((maxValue / 10), 10) - (parseInt((maxValue / 10), 10) % 5)
        }
      , lineChartData = {
          labels : ['January','February','March','April','May','June','July'],
          datasets : [
            {
              strokeColor : '#FFCE4B',
              data : [65,59,90,81,56,55,40]
            },
            {
              strokeColor : '#FFFFFF',
              data : [28,48,40,19,96,27,150]
            }
          ] 
        }
      , myLine = new Chart(document.getElementById('dashgraph').getContext('2d')).Line(lineChartData, lineChartOptions);
