extends layout

block content

  .page
    .text-spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            a(href='/')
              img.small-brand(src='/img/youform-gray.svg')
    .text-spacer

  .separator.separator-accent


  .page.page-gray
    .spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            h1.inline Success!&nbsp;&nbsp;
            h2.inline Your form has been created, now you have to complete these simple steps.
    .spacer

  .separator

  .page
    .spacer(style='height: 100px;')
    .container
      .pure-g
        .pure-u-1-6 &nbsp;
        .pure-u-1-3
          .confirm-box.no-right
            h2 confirm 
              strong e-mail address
            if form.email_confirmed === false
              h3 not yet verified
            else
              h3.success verified

        .pure-u-1-3
          .confirm-box
            h2 confirm 
              strong phone number
            if form.phone_confirmed === false
              form.pure-form(action='/api/confirm/sms/#{form._id}', method='post')
                input(type='hidden', name='token', value='#{form.token}')
                input(type='text', name='code', placeholder='verification code')
                button.pure-button.pure-button-form.pure-button-form-success(type='submit', style='padding: 7px 15px;') Ok
            else
              h3.success verified

        .pure-u-1-6 &nbsp;


      .pure-g
        .pure-u-1-6 &nbsp;
        .pure-u-1-3
          .text-center
            if form.email_confirmed === false
              p.small Have not received the e-mail yet?&nbsp;&nbsp;
                br
                a(href='/api/confirm/send-email/#{form._id}?token=#{form.token}') Send e-mail again

              //-p.small #{form.form_destination} Wrong e-mail?


        .pure-u-1-3
          .text-center
            if form.phone_confirmed === false
              p.small Have not received the text yet?&nbsp;&nbsp;
                br
                a(href='/api/confirm/send-sms/#{form._id}?token=#{form.token}') Send a new text

              //-p.small #{form.country_code} #{form.phone} Wrong number?

        .pure-u-1-6 &nbsp;


    .spacer(style='height: 100px;')