extends layout

block content

  - var form_url = (action === 'edit') ? '/api/edit/'+form._id : '/api/new-form';

  .page.page-accent
    .text-spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            a(href='/')
              img.small-brand(src='/img/youform.svg')
    .text-spacer

  .separator.separator-accent


  .page.page-gray
    .spacer
    .container
      .pure-g
        .pure-u-1
          .text-center
            if action === 'edit'
              h1.inline Edit&nbsp;&nbsp;
              h2.inline Editing an existing form is so simple. Just update the form below and the job is done.
            else
              h1.inline Start here!&nbsp;&nbsp;
              h2.inline Creating a new form is so simple. Just fill the form below and the job is done.
    .spacer

  .separator

  .page
    .spacer
    .container
      .pure-g
        .pure-u-1
          form.pure-form.pure-form-stacked(role='form', action=form_url, method='post')
            if action === 'edit'
              input(type='hidden', name='api_key', value='#{form._id}')
              input(type='hidden', name='token', value='#{form.token}')
            fieldset
              .pure-g
                .pure-u-1-3
                  div(style='padding-right: 80px; padding-top: 15px;')
                    h1 Account
                    p Enter your personal info that will be used to register and manage your new form

                .pure-u-2-3
                  .pure-control-group
                    label(for='email-crt') Your email
                    input.pure-input-1(type='email', name='email-crt', placeholder='Creator email address', value='#{form.creator_email}', required)
                  .pure-control-group
                    label(for='email-dest') Mobile phone number
                    .pure-g
                      .pure-u-2-5
                        input.pure-input-1(type='text', name='country-code', placeholder='Country code (e.g. +39)', value='#{form.country_code}', required, style='width: 90%;')
                      .pure-u-3-5
                        input.pure-input-1(type='tel', name='phone', placeholder='Number', value='#{form.phone}', required)
                  
              .separator(style='margin: 40px 0 30px;')
              
              .pure-g
                .pure-u-1-3
                  div(style='padding-right: 80px; padding-top: 15px;')
                    h1 Configuration
                    p Enter the technical details to setup your form

                .pure-u-2-3
                  .pure-control-group
                    label(for='w-url') Website Base URL
                      br
                      span(style='text-transform: none; font-weight: normal;') Every request not coming from this URL or any subpage will be discarded
                    input.pure-input-1(type='url', name='w-url', placeholder='http://plasticpanda.com', value='#{form.website_url}', required)
                  .pure-control-group
                    label(for='w-error') Success page URL 
                      em (optional)
                      br
                      span(style='text-transform: none; font-weight: normal;') This page will be displayed after submitting a new message
                    input.pure-input-1(type='url', name='w-success-page', placeholder='http://plasticpanda.com/thankyou', value='#{form.website_success_page}')
                  
              .separator(style='margin: 40px 0 30px;')

              .pure-g
                .pure-u-1-3
                  div(style='padding-right: 80px; padding-top: 15px;')
                    h1 Contact Information
                    p These details will be used to build the e-mail message

                .pure-u-2-3
                  .pure-control-group
                    label(for='w-name') Website name
                    input.pure-input-1(type='text', name='f-name', placeholder='Save Walter White', value='#{form.form_name}', required)
                  .pure-control-group
                    label(for='email-dest') Destination address
                    input.pure-input-1(type='email', name='email-dest', placeholder='eisenberg@plasticpanda.com', value='#{form.form_destination}', required)
                  .pure-control-group
                    label(for='replyto-field') Reply-To field name 
                      em (optional)
                      br
                      span(style='text-transform: none; font-weight: normal;') The content of the form field with this name will be used as the 
                        em reply-to 
                        | address
                    input.pure-input-1(type='text', name='replyto-field', placeholder='Field name (e.g. customer-email)', value='#{form.replyto_field}')
                  .pure-control-group
                    label(for='f-subject') E-mail Subject
                    input.pure-input-1(type='text', name='f-subject', placeholder='Pollos', value='#{form.form_subject}', required)
                  .pure-control-group
                    label(for='f-intro') A short text to send
                    textarea.pure-input-1(type='text', name='f-intro', placeholder='Hey, you have got a new message!', rows='5', required) #{form.form_intro}
                  .pure-control-group
                    label(for='colours') Pick a color
                    input(type='hidden', name='colours', value='')
                    span.radio-palette.radio-palette-0(data-palette='666666')
                    span.radio-palette.radio-palette-1(data-palette='846c5b')
                    span.radio-palette.radio-palette-2(data-palette='019875')
                    span.radio-palette.radio-palette-3(data-palette='14A6B5')
                    span.radio-palette.radio-palette-4(data-palette='A948AD')
                    span.radio-palette.radio-palette-5(data-palette='FF4E3E')
                    span.radio-palette.radio-palette-6(data-palette='FFBA00')


              .separator(style='margin: 40px 0 30px;')

              .pure-g
                .pure-u-1
                  .pure-controls.text-center
                    a.pure-link(href='javascript:history.go(-1)') Back
                    | &nbsp;&nbsp;&nbsp;
                    button.pure-button.pure-button-form.pure-button-form-success(type='submit') Save it

                  .spacer
                  .spacer


block scripts
  script

    window.onload = function () {
      var col = (/^([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/.test('#{form.colours}')) ? '#{form.colours}' : '666666';
      var el = document.querySelector('.radio-palette[data-palette="' + col + '"]');
      document.querySelector('input[name="colours"]').value = col;
      el.classList.add('active');
    };

    document.querySelectorAll('.radio-palette').forEach(function (el) {
      el.addEventListener('click', function () {
        document.querySelector('.radio-palette.active').classList.remove('active');
        document.querySelector('input[name="colours"]').value = el.getAttribute('data-palette');
        el.classList.add('active');

        console.log(document.querySelector('input[name="colours"]').value)
      });
    });
    