extends layout

block content
  .content

    .stats
      .pure-g

        .pure-u-1-3#mailphone
          div(style='padding-right: 20px;')
            h2 Your info

            if !form.email_confirmed
              p 
                | Your email is not confirmed!
                br
                | If you have not received the confirmation email: 
                a(href='/api/confirm/send-email/#{form._id}?token=#{form.token}') Resend confirmation email
            else
              p 
                span.confirmed
                  i.icon-ok.icon-white
                  | &nbsp; Your email was previously confirmed!
                br
                sub 
                  em Well done dude! Psst, your email is #{form.form_destination}

            br

            if !form.phone_confirmed
              p 
                span.unconfirmed
                  i.icon-exclamation.icon-white
                  | &nbsp; Your phone is not confirmed!
                br
                sub
                  | If you have not received the confirmation SMS  
                  a(href='/api/confirm/send-sms/#{form._id}?token=#{form.token}') 
                    | click here&nbsp;
                  | .
            else
              p 
                | Your phone (
                small
                  em +#{form.country_code} #{form.phone}
                | ) was previously confirmed!
                sub 
                  em Awww yeah!
        
        .pure-u-2-3#formstats
          div(style='padding-left: 20px;')
            h2 Your form

            table.pure-table.stats-data
              tr
                td
                  | Form
                td
                  | #{form.form_name}
              tr
                td
                  | API KEY
                td
                  | #{form._id}
              if form.deleted === true
                tr
                  td(colspan='2')
                    | This form has been deleted.
              else
                tr
                  td
                    | Created at
                  td
                    | #{form.created_at}
                tr
                  td
                    | Website
                  td
                    a(href='#{form.website_url', target='_blank')
                      | #{form.website_url}
                tr
                  td
                    | Requests
                  td
                    for row, year in stats.counter
                      h4 #{year}
                      table
                        for value, month in row
                          tr
                            td.month-name
                              | #{month}
                            td.month-value
                              | #{value}
                tr
                  td(colspan='2')
                    br
                    br
                    a.pure-button.pure-button-primary(href='/edit-form/#{form._id}?token=#{form.token}') 
                      i.icon-cog.icon-white
                      | &nbsp;Edit form
                    | &nbsp;&nbsp;&nbsp;
                    a.pure-button.pure-button-danger(href='/delete-form/#{form._id}?token=#{form.token}')
                      i.icon-remove.icon-white
                      | &nbsp;Delete form
          //-
            p API KEY: #{form._id}
            p Form: #{form.form_name}
            if form.deleted === true
              p This form has been deleted.
            else
              p Website: 
                a(href=form.website_url) #{form.website_url}
              p Date: #{form.created_at}

              p Total requests: #{stats.total_rows}

              for row, year in stats.counter
                h5 Year: #{year}
                for value, month in row
                  p 
                    span.month-name 
                      | #{month}: 
                    span.month-value
                      | #{value}

              a.pure-button.pure-button-primary(href='/edit-form/#{form._id}?token=#{form.token}') Edit form
              | &nbsp;
              a.pure-button.pure-button-danger(href='/delete-form/#{form._id}?token=#{form.token}') Delete form
                  
block scripts
  script.
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    Array.prototype.forEach.call(document.querySelectorAll('.month-name'), function (el) {      
      var monthNumber = parseInt(el.innerHTML, 10);
      el.innerHTML = months[monthNumber - 1] + ': ';
    });