extends layout

block content
  .content
    h2 Statistics

    if !form.confirmed
      p Your email is not confirmed. 
        a(href='/confirm/send-email/#{form._id}?token=#{form.token}') Resend the confirmation email

    if saved === true
      p Form salvato

    if saved === false
      p Errore. Form non salvato


    if not_found
      p Form not found. Check your params
    else
      p API KEY: #{form._id}
      p Form: #{form.form_name}
      if form.deleted === true
        p FORM ELIMINATO
      else
        p Website: 
          a(href=form.website_url) #{form.website_url}
        p Date: #{form.created_at}

        p Total requests: #{stats.total_rows}

        for row, year in stats.counter
          h5 Year: #{year}
            for value, month in row
              p #{month}: #{value}

      a.pure-button(href='/edit-form/#{form._id}?token=#{form.token}') Edit form
      a.pure-button(href='/delete-form/#{form._id}?token=#{form.token}') Delete form